body{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    font-family: Lucidatypewriter, monospace;
 

}
.content{
    flex: 1;
}
.header{
    position: inherit;
    text-align: center;
    padding: 2%;
    background-color: rgb(5, 5, 255);
}
/*Main content */
.main{
    background-color: rgb(240, 240, 240);
}
.books{
    padding: 5%;
    display: flex;
    flex-flow: row wrap;  
    justify-content: center;
    gap: 3rem;
}
.add{
    color: white;
    background-color: rgb(63, 112, 245);
    text-align: center;
    font-size: 80px;
    padding-top: 20px;
    transition: all .2s ease-in-out;
}
.add:hover{
    color: red;
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}
.fa-plus{
    background-color: black;
    height: 100px;
}

.card{
    height: 200px;
    min-height: auto;
    min-width: 200px;
    max-width: 200px;
    padding: 1rem;
    border: 1px;
    border: 10px solid rgb(63, 112, 245);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1 0 21%; 
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10px;
    transition: all .2s ease-in-out;

}
.card:hover{
    transform: scale(1.1);
}

.image{
    text-align: center;
    margin-bottom: 4%;
}
.image img{   
    width: 170px;
    height: 190px;
    margin: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}
/* The Close Button */

.modal-content{
    height: 250px;
    min-height: auto;
    min-width: 300px;
    max-width: 300px;
    margin: 15% auto; 
    padding: 0 2rem;
    background-color: white;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

b{
    width: 40px;
}

label{
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}
.readB{
    width: 60px;
}
.close {
    color: #aaa;
    font-size: 28px;
    margin: -35px -20px 0 0 ;
    float: right;
    align-self: flex-end;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.footer{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2%;
}

.read{
    margin-bottom: 10px;
    padding: 5px;
}